server:
  port: 8080

spring:
  application:
    name: "api-gateway"
  config:
    import: "configserver:${CONFIG_SERVER_URI:http://localhost:8888}/"

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: "${EXTERNAL_KEYCLOAK_URL:http://localhost:7080}/realms/ecommerce-realm"
          jwk-set-uri: "${INTERNAL_KEYCLOAK_URL:http://localhost:7080}/realms/ecommerce-realm/protocol/openid-connect/certs"

  cloud:
    circuitbreaker:
      resilience4j:
        configs:
          default:
            ignore-exceptions:
              - org.springframework.web.client.HttpServerErrorException$ServiceUnavailable
            slidingWindowSize: 10
            failureRateThreshold: 50
            waitDurationInOpenState: 10000
        instances:
          defaultServiceCircuitBreaker:
            base-config: default

    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: false
              lower-case-service-id: true
          httpclient:
            connect-timeout: 3000
            response-timeout: 7s

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

springdoc:
  swagger-ui:
    persistAuthorization: true
    oauth:
      client-id: "ecommerce-cc"
      use-pkce-with-authorization-code-grant: true
      authorization-url: "${EXTERNAL_KEYCLOAK_URL:http://localhost:7080}/realms/ecommerce-realm/protocol/openid-connect/auth"
      token-url: "${EXTERNAL_KEYCLOAK_URL:http://localhost:7080}/realms/ecommerce-realm/protocol/openid-connect/token"
    oauth2-redirect-url: "${API_GATEWAY_URL:http://localhost:8080}/swagger-ui/oauth2-redirect.html"
    urls:
      - url: /user-service/v3/api-docs
        name: User Service
      - url: /product-service/v3/api-docs
        name: Product Service
      - url: /cart-service/v3/api-docs
        name: Cart Service
      - url: /order-service/v3/api-docs
        name: Order Service

logging:
  pattern:
    level: "%5p [${spring.application.name},%X{trace_id},%X{span_id}]"

info:
  app:
    name: "gatewayserver"
    description: "Gateway Server for Ecommerce Application"
    version: "1.0"