replicaCount: 1

image:
  repository: quay.io/keycloak/keycloak
  tag: "26.4.0"
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 7080

# Provided from the secrets.yaml file
admin:
  username: ""
  password: ""

command: "start"

extraEnv:
  - name: KC_HTTP_ENABLED
    value: "true"
  - name: KC_HOSTNAME_STRICT
    value: "false"
  - name: KC_LOG_LEVEL
    value: "INFO"
  - name: KC_PROXY_HEADERS
    value: "xforwarded"
  - name: KC_DB
    value: "postgres"
  - name: KC_DB_URL
    value: "jdbc:postgresql://keycloak-postgres:5432/keycloak"
  - name: KC_DB_USERNAME
    value: "keycloak"
  - name: KC_DB_PASSWORD
    value: "keycloak"

resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 250m
    memory: 1Gi

persistence:
  enabled: false

postgresql:
  enabled: true
  auth:
    username: keycloak
    password: keycloak
    database: keycloak
  primary:
    persistence:
      enabled: true
      size: 1Gi
      storageClass: ""
    resources:
      limits:
        cpu: 500m
        memory: 512Mi
      requests:
        cpu: 250m
        memory: 256Mi