replicaCount: 1

image:
  repository: quay.io/keycloak/keycloak
  tag: "26.4.0"
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80

admin:
  username: user
  password: password

command: "start-dev"

resources:
  limits:
    cpu: 250m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi

persistence:
  enabled: false
#  existingClaim: keycloak-pvc
#  Disable on first install ^
  accessModes:
    - ReadWriteOnce
  size: 1Gi