replicaCount: 1

image:
  repository: quay.io/keycloak/keycloak
  tag: "26.4.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

admin:
  username: user
  password: password

command: "start-dev"

extraEnv:
  - name: KC_HTTP_ENABLED
    value: "true"
  - name: KC_HOSTNAME_STRICT
    value: "false"
  - name: KEYCLOAK_BASE_URL
    value: "http://keycloak.local"
  - name: KC_LOG_LEVEL
    value: "INFO"

resources:
  limits:
    cpu: 500m
    memory: 2Gi
  requests:
    cpu: 250m
    memory: 1Gi

persistence:
  enabled: true
  accessModes:
    - ReadWriteOnce
  size: 1Gi
  storageClass: ""

ingress:
  enabled: true
  ingressClassName: nginx
  hostname: keycloak.local
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "50m"
  tls: false