server:
  port: 8081

spring:
  application:
    name: "user-service"
  config:
    import: "configserver:${CONFIG_SERVER_URI:http://localhost:8888}/"

  datasource:
    url: jdbc:postgresql://localhost:5432/user_db
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: "${EXTERNAL_KEYCLOAK_URL}/realms/ecommerce-realm"
          jwk-set-uri: "${INTERNAL_KEYCLOAK_URL}/realms/ecommerce-realm/protocol/openid-connect/certs"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    shutdown:
      enabled: true
    health:
      probes:
        enabled: true
  info:
    env:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    enabled: false

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG
    org.springframework.security.oauth2.server.resource.authentication.JwtAuthenticationProvider: TRACE
    org.springframework.security.oauth2.jwt: TRACE
    reactor.netty.http.client: DEBUG
    reactor.netty.http.server: DEBUG
  pattern:
    level: "%5p [${spring.application.name},%X{trace_id},%X{span_id}]"

info:
  app:
    name: "user-service"
    description: "User service for Ecommerce Application"
    version: "1.0"

