services:
  network-deploy-service:
    networks:
      - ecommerce-network

  microservice-db-config:
    extends:
      service: network-deploy-service
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    healthcheck:
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s

  microservice-base-config:
    extends:
      service: network-deploy-service
    deploy:
      resources:
        limits:
          memory: 2G
    environment:
      JAVA_TOOL_OPTIONS: "-javaagent:/app/libs/opentelemetry-javaagent-2.11.0.jar"
      OTEL_EXPORTER_OTLP_ENDPOINT: http://tempo:4318
      OTEL_METRICS_EXPORTER: none
      OTEL_LOGS_EXPORTER: none

  microservice-configserver-config:
    extends:
      service: microservice-base-config
    environment:
      SPRING_PROFILES_ACTIVE: dev
      CONFIG_SERVER_URI: http://configserver:8888

  microservice-eureka-config:
    extends:
      service: microservice-configserver-config
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eurekaserver:8761/eureka/
      EXTERNAL_KEYCLOAK_URL: "http://keycloak.local:7080"
      INTERNAL_KEYCLOAK_URL: "http://keycloak:8080"
      API_GATEWAY_URL: "http://localhost:8080"
